* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #606060;
}

.social {
  width: 100%;
  height: 75px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.social img {
  height: 60px;
  width: auto;
  margin-left: 10px;
}
.social .icons {
  display: flex;
  gap: 5px;
}
.social i {
  margin-right: 40px;
  padding: 10px;
  transition: all 0.3s;
}
.social i:hover {
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s;
}
.textLogo {
  margin-left: 200px;
}
/* HEADER */

.container {
  width: 85%;
  height: auto;
  margin: auto;
}
header {
  width: 100%;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 8px 2px black;
}
header img {
  width: 100%;
  display: block;
  opacity: 0.5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main {
  display: flex;
  margin-top: 20px;
  background-color: #606060;
  box-shadow: 2px 2px 8px 2px black;
  border-radius: 10px;
}
section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav {
  flex: 0.2;
  height: auto;
}
nav ul {
  list-style: none;

  align-items: center;
}
nav ul li {
  text-align: center;
}
nav i {
  margin-right: 10px;
}
.home {
  border-top-left-radius: 10px;
}
nav ul li a {
  height: 40px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #b4b4b4;
  display: block;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: white;
  background-color: gray;
  transition: all 0.3s;
}

section {
  flex: 1;
  margin-left: 10px;
  box-shadow: 2px 2px 8px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
section img {
  width: 50%;
  display: block;
  border: 1px solid black;
  box-shadow: 2px 2px 8px 2px black;
  border-radius: 10px;
  transition: all 0.5s;
}
section img:hover {
  width: 80%;
  transition: all 0.5s;
}
footer {
  width: 100%;
  background-color: #1a1a1a;
  height: 55px;
  color: aliceblue;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 2px black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
